.carousel-caption {
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-discover {
    color: #777777;
}

.btn.btn-outline-primary.bg-white:hover {
    color: #0d6efd;
}

@media screen and (max-width:991px) {
    .ready-to-content {
        text-align: center;
    }
}

@media screen and (max-width:768px) {


    .carousel-caption h1 {
        font-size: 20px;
    }
}